<form method="POST" action="/Home/Create">
  <input type="email" name="Email"
         required placeholder="Enter your email">
  <select name="Hobby" required>
    <option value="">Choose your hobby</option>
    <option>Reading</option>
    <option>Motorcycle riding</option>
    <option>Painting</option>
    <option>Running an elite collegiate organization</option>
    <option>Target shooting</option>
  </select>
  <button type="submit">Send some info</button>
</form>

<script>
  var myFavoriteSpaceship = "Death Star";
</script>
